<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestScope for WebAPI Testing Tasks"  >
    <suite-files>
        <suite-file path="authorTests.xml" />
        <suite-file path="bookTests.xml" />
        <suite-file path="genreTests.xml" />
    </suite-files>
</suite>